<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Trendsetter's Adda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/account.css">
</head>

<body>
    {{>navbar}}

    <div class="container mt-5 mb-5">
        <div class="row ">
            <div class="col-md order-md-0 order-1">
                <img src="images/account.jpg" width="500" class="img-fluid mx-auto" alt="">
            </div>
            <div class="col-md mt-5 mx-auto p-2">

                <div class="form-container ">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Sign Up</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" action="/login" method="POST">
                        <input type="text" placeholder="Enter your Email" name="email" required>
                        <input type="password" placeholder="Password" name="password" required>
                        <button type="submit" class="btn1 btn-secondary" id="login">Login</button><br>
                          {{#if failed}}
                        <div class="alert alert-danger p-1 ml-4" style="width: 250px;" role="alert">
                            {{failed}}
                        </div>
                        {{/if}}

                    </form>
                    <form id="RegForm" action="/signup" method="POST">
                        <input type="text" placeholder="Your Name" name="name" required>
                        <input type="text" name="email" placeholder="Email" name="email" required />
                        <input type="password" placeholder="Password" name="password" required>
                        <input type="password" placeholder="Confirm Password" name="confirmpassword" required>
                        <button type="submit" class="btn1 btn-secondary" id="register">Register</button>
                        <br>
                        {{#if success}}
                        <div class="alert alert-success p-1 ml-4" style="width: 250px;" role="alert">
                            {{success}}
                        </div>
                        {{/if}}
                        {{#if failed}}
                        <div class="alert alert-danger p-1 ml-4" style="width: 250px;" role="alert">
                            {{failed}}
                        </div>
                        {{/if}}
                         {{#if log1}}
                        <div class="alert alert-danger p-1 ml-4" style="width: 250px;" role="alert">
                            {{log1}}
                           
                        </div>
                        {{/if}}
                         {{#if log2}}
                        <div class="alert alert-danger p-1 ml-4" style="width: 250px;" role="alert">
                            {{log2}}
                           
                        </div>
                        {{/if}}
                        

                    </form>
                </div>
            </div>
        </div>

    </div>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");

        function register() {
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }
        function login() {
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }
    </script>


    <script>
        function validate() {
            var result = true;
            var e = document.getElementsByName("email")[0].value;

            var atindex = e.indexOf('@');
            var dotindex = e.indexOf('.');
            if (atindex < 1 || dotindex >= e.length - 2 || dotindex - atindex < 3) {
                result = false;
                alert("please type right email format");
            }

            return (result);

        }
    </script>
    <script src="js/account.js"></script>
</body>

</html>